body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.columns-container {
    display: flex;
}

.column {
    flex: 8;
    padding: 14px;
    box-sizing: border-box;
    color: #fff;
}

h2 {
    color: #fff;
    margin-bottom: 10px;
}

.column1 {
    background: linear-gradient(to bottom, #00ffa9, #0d4dff)
}

.column2 {
    background: linear-gradient(to bottom, #ef32d9, #89fffd)
}

.column3 {
    background: linear-gradient(to bottom, #2196f3, #f44336)
}
