body {
    font-family: 'Roboto Slab', serif;    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.back-button {
    position: absolute;
    top: 11px;
    left: 11px;
    padding: 10px;
    background-color: #15c5a8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.banner {
    width: 100%;
    max-height: 300px; 
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    margin: -10px auto 0;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.lentes-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 20px auto;
}

.lente-card {
    cursor: pointer;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #919090;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.lente-card:hover {
    transform: scale(1.05);
}

.lente-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 5px;
}


.intro-section {
    text-align: center;
    padding: 20px;
}

.intro-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.intro-section img {
    max-width: 19%;
    height: auto;
    margin-bottom: 20px;
}

.youtube-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*ANIMATE Y WOW.JS*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}


.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}



.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}




.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}



.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}


.swing {
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}



.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}


.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}



.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}


.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}




.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}



.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}


.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}


.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}


.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}


.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}


.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}


.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


.fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
}


.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}


.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

.fadeOutDownBig {
  -webkit-animation-name: fadeOutDownBig;
  animation-name: fadeOutDownBig;
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}



.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight;
}

.fadeOutRightBig {
  -webkit-animation-name: fadeOutRightBig;
  animation-name: fadeOutRightBig;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}


.fadeOutUpBig {
  -webkit-animation-name: fadeOutUpBig;
  animation-name: fadeOutUpBig;
}

.animated.flip {
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

.flipOutX {
  -webkit-animation-name: flipOutX;
  animation-name: flipOutX;
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
}


.flipOutY {
  -webkit-backface-visibility: visible !important;
  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipOutY;
  animation-name: flipOutY;
}


.lightSpeedIn {
  -webkit-animation-name: lightSpeedIn;
  animation-name: lightSpeedIn;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}


.lightSpeedOut {
  -webkit-animation-name: lightSpeedOut;
  animation-name: lightSpeedOut;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}


.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}


.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}


.rotateInDownRight {
  -webkit-animation-name: rotateInDownRight;
  animation-name: rotateInDownRight;
}

.rotateInUpLeft {
  -webkit-animation-name: rotateInUpLeft;
  animation-name: rotateInUpLeft;
}

.rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
}


.rotateOut {
  -webkit-animation-name: rotateOut;
  animation-name: rotateOut;
}


.rotateOutDownLeft {
  -webkit-animation-name: rotateOutDownLeft;
  animation-name: rotateOutDownLeft;
}


.rotateOutDownRight {
  -webkit-animation-name: rotateOutDownRight;
  animation-name: rotateOutDownRight;
}


.rotateOutUpLeft {
  -webkit-animation-name: rotateOutUpLeft;
  animation-name: rotateOutUpLeft;
}


.rotateOutUpRight {
  -webkit-animation-name: rotateOutUpRight;
  animation-name: rotateOutUpRight;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}


.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}


.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}

.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
}



.rollIn {
  -webkit-animation-name: rollIn;
  animation-name: rollIn;
}


.rollOut {
  -webkit-animation-name: rollOut;
  animation-name: rollOut;
}